body {
  background-color: lightblue;
}

p {
  color: black;
  font-size: 12pt;
  font-family: Arial;
}


h1,
h2 {
  font-size: 18pt;
  text-decoration: underline;

}

ul li a {
  text-decoration: none;
}

.register-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 35px;
  border: 10px solid black;
  transition: 0.3s all;
  margin: 10px;
}

.register-button:hover {
  background-color: white;
  color: rgb(8, 193, 57);
}

.button-container {
  margin-top: 5px;
  margin-bottom: 5px;

}

.error-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 35px;
  border: 10px solid black;
  transition: 0.3s all;
  margin: 10px;
}

.error-button:hover {
  background-color: white;
  color: red;
}

.detail-boxes {
  margin-top: 2px;
  margin-bottom: 2px;
}

.detail-boxes2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset-container {
  max-width: 400px;
  padding: 10px;
}

.button-container {
  display: inline-block;
}

p {
  max-width: 720px;
}